
html
{

}
.bar {
    height:  2.75rem;
    text-align: center;
     line-height: 2.75rem;
    box-shadow:0.0625rem 0rem 0.0625rem #eee;
    color: #333;
    background-color: #fff;
   font-size: 0.75rem;
  position: relative;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body
{

}
.left img {
  position: absolute;
  height: 1.25rem;
  left: 0;
  top: 50%;
  transform: translate(7%, -50%);
}

.top_text
{
  float: right;
  margin-right: 1.25rem;
}

.all
{
	padding: 20px;
	font-size: 12px;
	color: #888;
}
.pa input
{
	display: inline-block;
	border: none;
	margin-top: 20px;
	border-bottom: 1px solid #eee;
	outline: none;
}
.gg input
{
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 3px;

}