*{
	padding: 0;
	margin: 0;
}

.bar
{
	height: 44px;
	box-shadow: 1px 0px 1px #eee;
	display: flex;
    align-items: center;
}
.left img
{
height: 30px;	
}
.content_all{
	
	padding:10px 20px ;
}
.user_box
{
	display: flex;
	flex-direction: row ;
	height: 60px;
	align-items: center;

}
.user_text
{
	display: flex;
	flex-direction: column ;
}
.user_icon
{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	
}
.user_tag{
	
	height: 14px;
	display: inline-block;
	margin-left: 5px;
	
}
.user_name
{
	font-weight: 600;
	font-size: 14px;

}
.replay_time{
	
	color: #AFAFAF;
	font-size: 12px;
}

.litu
{
	width: 100%;

	border-radius: 1%;

}
.px_text{
	
	font-size: 14px;
	margin: 20px  0;
}

.function_area
{
	display: flex;
	flex-direction: row;
	font-size: 12px;
	color: #757575;
	vertical-align: middle;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	padding: 20px  0;
}


.function_area img
{
	height: 14px;
	vertical-align: middle;
}
.area_all
{
	width: 42px;
	text-align: center;
	
}
.ad_img
{
	
	width: 100%;
	height: 80px;
}
.ad_img img 
{
	width: 32%;
	height: 100%;
	margin-right: 2%;
	    float: left;
		line-height: 0;
		  vertical-align: top; 
		  box-sizing: border-box;
}
.ad_text{
	font-size: 14px;
	margin: 20px 0;
	width: 100%;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	
}
.ad_img img:last-child
{
	margin-right: 0% ;
}

.tag_text
{
font-size: 12px;	
color: #BCBCBC;
margin: 10px 0;
position: relative;

}
.tag_text img
{
height: 12px;
right: 0;
bottom: 0;
	position: absolute;
}

.content_all{
	
	border-bottom: 4px solid #F2F2F2;
	
}

