*{
	text-decoration: none;
	padding: 0;
	margin: 0;
	
	
}
a{ color: #000000;}


/* bar */
.bottom_bar {
	position: fixed;
	bottom: 0;
	height: 55px;
	width: 100%;
	background-color: #fff;
	z-index: 999;
}

.bottom_bar {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #eee;
}

.bar {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottom_bar img {
	height: 22px;
	margin: auto;
}

.bar .text {
	transform: scale(0.95)
}


body
{

	background-color: #fff;
}

@font-face
{
	font-family: din;
	src:url('../fonts/DINPro-Regular.otf');
}

.Nid{
	font-family: din;
	color: #888;
	font-size: 14px;
}
.vipEffective
{
	color: #C1C7CA;
	font-size: 12px;
}
.icon_tx
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top:0;
}
 .name-column
 {
	 display: flex;
	 flex-flow: column;
	 justify-content: space-between;
 }
.Vtag
{  
	display:inline-block;
	background-color: #E4B42B;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-weight: 600;
	box-sizing: border-box;
	position: absolute;
    right: 0;
	bottom:0;
}

.T-box
{
	display: flex;
	flex-direction: row;
	padding: 40px 20px;
	
}
.tx-bar
{
	width: 70px;
	height: 70px;
	position: relative;
	margin-right: 10%;
}
.name-column .name
{
	font-size: 20px;
}
.box
{
	position: relative;
}
.set
{
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.twoBar-box
{
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	box-sizing: border-box;
	
}
.twoBar-box .twoBar
{
	width: 45%;
	text-align: center;
	border:1px solid #B1B9BF;
	border-radius: 5px;
	margin-right: 5%;
	height: 50px;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	padding: ;

}
.t-b-cent
{
	font-size:14px ;
	
	
}
.t-b-ms
{
	font-size: 12px;
	color:#9F9F9F ;
}
.function_all
{
	padding: 20px;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: 12px;
}

.function_area{
	
width: 25%;

display: flex;
flex-direction: column;
justify-content: space-between;
margin-bottom: 20px;
font-size: 12px;
}

.function_area img
{
	height: 20px;

	margin: auto;
	margin-bottom: 10px;
}