
html
{

}
.bar {
    height:  2.75rem;
    text-align: center;
     line-height: 2.75rem;
    box-shadow:0.0625rem 0rem 0.0625rem #eee;
    color: #333;
    background-color: #fff;
   font-size: 0.75rem;
  position: relative;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body
{

}
.left img {
  position: absolute;
  height: 1.25rem;
  left: 0;
  top: 50%;
  transform: translate(7%, -50%);
}

.top_text
{
  float: right;
  margin-right: 1.25rem;
}

.wrap-box
{
	padding: 1.25rem;
}
textarea
{
	border: none;
	border-bottom: 0.0625rem solid #eee;
	width: 100%;
	outline: none;
}
.topic
{
	font-weight: 600;
}
.fh
{
	font-size: 0.75rem;
	color: #888;
	margin-top: 0.625rem;
}


	.send
	{
		width: 60%;
		margin-left: 20%;
		background-color: #969699;
		height: 50px;
		line-height: 50px;
		color: #fff;
		text-align: center;
		border-radius: 5px;
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 14px;
		
	}