
html
{

}
.bar {
    height:  2.75rem;
    text-align: center;
     line-height: 2.75rem;
    box-shadow:0.0625rem 0rem 0.0625rem #eee;
    color: #333;
    background-color: #fff;
   font-size: 0.75rem;
  position: relative;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body
{
background-color: #fff;
}
.left img {
  position: absolute;
  height: 1.25rem;
  left: 0;
  top: 50%;
  transform: translate(7%, -50%);
}

.top_text
{
  float: right;
  margin-right: 1.25rem;
}

.fh
{
	font-size: 12px;
	margin-bottom: 10px;
}
.r-m,.r-n
{  
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	width: 100% !important;
	height: 30px !important;
	line-height: 30px !important;
	border-bottom: 1px solid #eee !important;
	outline: none !important;
	font-size: 12px;
}

.distance{
	padding: 20px;
}

.sx-lar
{   
	
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	
}
.maRin10{
	margin-top: 10px;
}
.separate_lr
{
	display: flex;
	flex-direction: row;
	
}
.font12
{
	font-size: 12px;
	color: #888;
}
.sx-content
{
	font-size: 12px;
	color: #222;
}
.mui-picker-inner
{
background-color: #fff;	
-webkit-mask-box-image:-webkit-linear-gradient(bottom, #fff 5%, #fff 20%, #fff 80%, #fff 95%, #fff) !important;
}

.separate_tb{
	
	display: flex;
	flex-direction: column;
    margin-right: 6%;
	
}	

	.send
	{
		width: 60%;
		margin-left: 20%;
		background-color: #969699;
		height: 50px;
		line-height: 50px;
		color: #fff;
		text-align: center;
		border-radius: 5px;
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 14px;
		
	}
		.distance
	{
		
		position: relative;
		
	}
	
	.record,.record2{
		
		position: absolute;
		background-color: rgba(0,0,0,0.3);
		color:#fff;
		width: 63%;
		
		min-height: 60px;
		z-index: 2;
		left: -7px;
    top: 75px;
		text-align: center;
		display: flex;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: scale(0.8);
	}
	.ad12
	{
		font-size: 12px;
		border-bottom: 1px solid #fff;
		line-height: 40px;
		width: 100%;
		
		
	}
	.ad12:hover
	{
		background-color:#C8EAEB;
	}
	
