.bar {
    height: 44px;
    text-align: center;
     line-height: 44px;
    box-shadow: 1px 0px 1px #eee;
    color: #333;
    background-color: #fff;
    font-size: 12px;
	position: relative;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body
{
background-color: #fff;
}
.left img {
  position: absolute;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translate(7%, -50%);
}
.cfd,.zd
{
	position: relative;
	margin-left: 20px;
	border: none;
	border-bottom: 1px solid #eee;
	margin-top: 20px;
	height: 40px;
	outline: none;
	width: 60%;
	font-size: 14px;
	box-sizing: border-box;
	font-size: 12px;
	
}


.r-b
{
	width: 6px;
	height: 6px ;
	border-radius: 50%;
	background-color: #FFB534;
	display: inline-block;
	margin-left: 20px;
}

.r-c
{
width: 6px;
	height: 6px ;
	border-radius: 50%;
	background-color: #FFB534;
	display: inline-block;
	margin-right: 20px;
	
	
}
.r-h
{
	
	background-color: #4B4B68;
	
}
.hadUse
{
	margin-top: 50px;
	padding-left: 20px;
}
.changY
{
	padding: 4px 10px;
	box-sizing: border-box;
	font-size: 12px;
	box-shadow: 1px 1px 8px #888;
	height: 24px;
	border-radius: 20px;
	line-height: 24px;
	margin-right: 20px;
	color: #888;
	
}
.lux
{
	margin-top: 40px;
	padding: 0 20px;
	font-size: 14px;
}
.sdog
{
	margin-right: 15px;
}
.date
{
	margin-top: 40px;
	font-size: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	padding-left: 14px;
	color: #888;
	
	
}
.date  input { 

display: inline-block;
font-size: 12px;
margin-right: 20px;
border: none;
box-sizing: border-box;
}
.date-input
{
	margin-top: 20px;
}

.dog
{
	height: 20px;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin-right: 12px;
}
#test1
{
	position: relative;
	left: 4px;
}

	.xy
	{
		font-size: 12px ;
		text-align: center;
		margin-top: 50px;
	}
	.xy a
	{
		color: #888;
	}
	.xy-input
	{
	position: relative;
	top: 3px;
	right: 10px;
	margin-right: 10px;
	}
	.send
	{
		width: 60%;
		margin-left: 20%;
		background-color: #969699;
		height: 50px;
		line-height: 50px;
		color: #fff;
		text-align: center;
		border-radius: 5px;
		margin-top: 100px;
		margin-bottom: 40px;
		font-size: 14px;
		
	}
	
	.price
	{
		border-bottom: 1px solid #eee !important;
		padding-bottom: 5px;
	}
	.tg1
	{
		margin-top: 20px;
	}
	.bz
	{border-bottom: 1px solid #eee !important;
		padding-bottom: 5px;
		width: 70%;
	}
	
	.zd1
	{
		position: relative;
		margin-left: 20px;
	}
	.zd1::before
	{
	
	content: "";
    position: absolute;
    width: 2px;
    height: 21px;
    background-color: #ebebeb;
    top: 2px;
    left: -21px;

		
	}
	
	.zd-active{
		
		background-color: #FDBD09;
		color: #fff;
	}
	.c-active
	{
		background:#5BC0DE; color: #fff;
	}
	
	.lx-dw
	{
		position: relative;
	}
	.a-lx
	{
		position: absolute;
		right:20px;
		font-size: 12px;
		top: 50%;
	}
	.dz
	{
		margin-top: 20px;
		position: relative;
		box-sizing: border-box;
	}
	
	.record,.record2{
		
		position: absolute;
		background-color: rgba(0,0,0,0.3);
		color:#fff;
		width: 63%;
		
		min-height: 60px;
		z-index: 2;
		left: 20px;
		top: 50px;
		text-align: center;
		display: flex;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: scale(0.8);
	}
	.ad12
	{
		font-size: 12px;
		border-bottom: 1px solid #fff;
		line-height: 40px;
		width: 100%;
		
		
	}
	.ad12:hover
	{
		background-color:#C8EAEB;
	}
	
	