.bar {
    height: 44px;
    text-align: center;
     line-height: 44px;
    box-shadow: 1px 0px 1px #eee;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #eee;
	position: relative;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body
{

}
.left img {
  position: absolute;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translate(7%, -50%);
}
@font-face
{
	font-family: din;
	src:url('../fonts/DINPro-Regular.otf');
}

.distanceRoom
{
padding: 20px;
height: 100px;
}
.input-sr input
{
	padding: 0;
	margin: 0;
	border: none;
	display: inline-block;
	height: 50px;
    outline: none;
	line-height: 50px;
	padding-left: 30px;
	font-size:45px;
	font-family: din;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #eee;
	
	
}
.input-sr
{
	position: relative;
	margin-top: 20px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;

	

}

.input-sr .danW
{
	
	font-size:30px;
	position:absolute ;
	left: 0;
    top: 50%;
	transform: translateY(-50%);
	
}
.btn
{
	text-align: center;
	width: 80%;
	background-color: #F99573;
	color: #fff;
	height: 40px;
	line-height: 40px;
	margin-left: 10%;
	margin-top: 20px;
	font-size: 14px;
}
.tag_left
{
	font-size: 13px;
	color: #888;
	padding-left: 20px;
	margin-bottom: 20px;
}