.bar {
    height: 120px;
 
    box-shadow: 1px 0px 1px #eee;
    color: #fff;
    background-color: #fff;
    font-family: din;
    border-bottom: 1px solid #eee;
	background-color: #E84F10;
	font-size: 14px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
@font-face
{
	font-family: din;


	src:
		url('../fonts/DIN-Bold.otf');

}
.dinNm
{
	font-family: din;
	font-size: 16px !important;
	margin-top: 10px;
	color: #000;
	
}
body
{
background-color: #F5F5F9;
}
.left
{
	height: 45px;
	   line-height: 45px;
}
.left img {
     position: absolute;
    height: 24px;
    left: 0;
    top: 10px;
}
.tx{

width: 40px;
	height: 40px;
}
.p-x-bar
{
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right:20px;
	padding-left:40px;
	box-sizing: border-box;
	align-items: center;
	height: 76px;
}
.p-x-name
{
display: flex;
flex-flow: column;	
}
.all_sum
{
	width: 90%;
	margin:20px auto;
	
	background-color: #fff;
    border-radius: 5px;
}
.all-s-top
{  
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	
}
.all_box
{
	padding: 10px;
	color: #888;
}
.a-line
{
	padding-bottom: 10px;
}
.b-p{
	width: 50%;
	border: 1px solid #F7F8F9;
line-height: 30px;
padding: 10px;
margin-right: -1px;
}
.b-p-box
{
	display: flex;
	flex-direction: row;
	font-size: 14px;
	
}

.font12
{
	font-size: 12px;
}

.fontFc
{
	color: #888;
}
.swiper-container 
{
	background-color: #fff;
	width: 90%;
	height: 200px;
	
}
.swiper-container .swiper-slide
{
	position: relative;
}
.swiper-container .swiper-slide img
{
width: 300px;
height: 135px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #aaa !important;
}
#ad_dw
{
	position: absolute;
	z-index: 2;
	font-size: 12px;
	color: #888;
	top:10px;
	left: 10px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	
	
}
#share1
{
	position: absolute;
	top:10px;
	right: 10px;
	height: 10px;
}
.vip—bar
{
	width: 90%;
	margin: auto;
	background: #fff;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	margin-top: 20px;
	box-sizing: border-box;
	font-size: 12px;
	border-radius: 5px;
	
}
.vip—bar img
{
	height: 14px;
	vertical-align: sub;
	top: -1px;
	position: relative;
	margin-right: 5px;
	
}
.none_more
{
	text-align: center;
	font-size: 12px;
	color: #999;
	margin-top: 20px;
	margin-bottom: 20px;
}
.tx_red
{
	color: red;margin-left: 5px;transform: scale(0.9);display: inline-block;font-weight: 600;
}